/* @import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 2rem;
    height: 100vh;
    font-family: "Roboto Mono";
}

.wrapper {
    max-width: 800px;
    min-width: 600px;
    margin: 0 auto;
    display: grid;
    grid-auto-flow: row;
    /* grid-template-rows: 2rem auto 1rem; */
    height: 100%;
    gap: 1rem;
    /* margin-top: 1rem; */
    /* margin-bottom: 1rem; */
    align-items: center;
    z-index: 999;
    grid-template-rows: 1fr auto;
  } */