@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono';
}

#wrapper {
    max-width: 800px;
    min-width: 600px;
    margin: 0 auto;
    position: relative;
}

#words {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
}

.word {
    margin: 5px 5px;
}

.word.active {
    color: #444;
}

#caret {
    width: 2px;
    height: 2rem;
    background-color: black;
    position: absolute;
    /* animation-name: caretFlash;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation-iteration-count: infinite;
    animation-duration: 1s;
    transition: 0.05s; */
    /* left: 30px; */
}

@keyframes caretFlash {
    0% {
      background: transparent;
    }
    50% {
      background: var(--caret-color);
    }
    100% {
      background: transparent;
    }
  }